/* COLOURS
#F5E6E8
#9E0031
#00E8FC
#432597
#F96E46
*/ 

:root {                                      
    --background-colour: #432597;
    --content-text-colour: #432597;
    --button-colour: #9E0031;
    --info-container-colour: #F5E6E8;
    --light-colour: #F5E6E8;
    --container-link-colour: #F96E46;
    --instructions-colour: #F96E46;
    --link-colour: #00E8FC;
    --header-size: 24px;
    --main-text-size: 18px;                   
    --border-radius: 10px;
  }
  
body {
    background: var(--background-colour);
}

.header-container {
    background: var(--background-colour);
    display: flex;
    flex-direction: column; 
    position:fixed;    
    width: 100% 
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.logo {    
    width: 120px;
    height: 100px;
    margin-top: 45px;
    margin-left: 45px;
}

.header {
    display: flex;
    height: 45px;
    background-color: var(--light-colour);
    border-radius: 10px;  
    color: var(--content-text-colour);
    margin-top: 20px;
    margin-right: -20px;
    margin-left: -45px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 18px 11px 19px 1px rgba(0,0,0,0.32);
}

.help-link {
    color:  var(--link-colour);
    margin-top: 50px;
    height: 40px;
    margin-right: 20px;
    font-size: 25px;
}

.instructions {
    display: flex;
    justify-content: center;     
    color: var(--instructions-colour);
    align-items: center;
    font-weight: 100;
}

.help-link:hover {
    color: black;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
}

.category-select {
    font-size: 20px;
    color: var(--light-colour);
}

.select-week {
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
}

.submit-button {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: var(--button-colour);
    color: var(--light-colour);
    border: 1px solid var(--light-colour);
    cursor:pointer;
}

.week-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 50px; 
    margin-bottom: 30px;  
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 30px;
    background-color: var(--info-container-colour);
    border-radius: 25px;
    width: 100%;
    margin-bottom: -210px;
}

.section-heading {
    margin-top: -20px;
    font-size: 28px;
    color: var(--content-text-colour);
}

.docs-content-title { 
    margin-top: -20px;
    font-size: 22px;    
}

.docs-content-name { 
    margin-top: -50px;
    font-size: 20px;    
}

.docs-content { 
    color: var(--content-text-colour);
    font-size: 15px;    
}

.docs-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--container-link-colour);
}

.footer-container {
    margin-top: 95vh;  
    width:100%;
    height:50px;   
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2rem;        
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

.copyright {
    font-size: 18px;
    font-weight: bold;
    color: var(--light-colour);
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

.feedback-link {
    margin-right: 50px;
    padding: 10px;
    color: var(--light-colour);
    border: 1px solid var(--light-colour);
    border-radius: 5px;
}


.social {
    margin-left: 20px;
    color: var(--link-colour);
}
