:root {                                      
    --background-colour: #03045E;
    --content-header-colour: #2a1585;
    --content-text-colour: #4a4949;
    --button-colour: #30AC05;
    --info-container-colour: #dddddd;
    --light-colour: #ffffff;
    --container-link-colour: #121212;
    --instructions-colour: #121212;
    --link-colour: #F87F25;
    --docs-link-colour: rgb(214, 159, 41);
    --help-link-colour: rgba(255, 85, 0, 0.87);
    --header-border-colour: #00E8FC;
    --box-shadow-colour: rgba(0,0,0,0.32);
    --button-hover-colour: #000000;
    --form-background-colour: #2676ac;
    --form-border-colour: rgb(178, 213, 245);
}
  
body {
    background: var(--background-colour);
}

.header-container {    
    display: flex;
    justify-content:space-evenly;
}

.links-container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {    
    display: flex;    
}

.team-logo {    
    display: flex;
    width: 120px;
    height: 100px;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
}

.soc-logo {    
    display: flex;
    width: 120px;
    height: 100px;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.app-header {
    display: flex; 
    background-color: var(--light-colour);
    padding: 10px 20px 20px 20px;
    border-radius: 15px;  
    color: var(--content-text-colour);
    margin-left: 100px;
    margin-right: -70px;
    box-shadow: 18px 11px 19px 1px var(--box-shadow-colour);
    margin-top: 30px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--docs-link-colour);
    text-decoration: underline;
    font-size: 20px;
}

.header-nav-link {
    color: var(--help-link-colour); 
    display: flex;
    justify-content: center;    
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
}

.header-nav-link:hover {
    color: var(--light-colour);   
}

.category-select {
    font-size: 20px;
    color: var(--light-colour);
}

.select-week {
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
}

.submit-button {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: var(--button-colour);
    color: var(--light-colour);
    border: 1px solid var(--light-colour);
    cursor:pointer;
    font-size: 15px;
}

.week-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}

.resource-page-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.resource-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    background-color: var(--info-container-colour);
    border-radius: 25px;
    width: 90%;
    margin-bottom: 10px;
}

.section-heading {
    margin-top: -20px;
    font-size: 35px;
    color: var(--content-header-colour);
}

.content-title { 
    margin-top: -20px;
    font-size: 32px;    
}

.content-name { 
    margin-top: -50px;
    font-size: 20px;    
}

.content { 
    color: var(--content-text-colour);
    font-size: 20px;    
}


.footercontainer {   
    width:100%;
    height: 130px;
}

.footer {
    background-color: var(--background-colour);
    align-self: flex-end;
    padding-bottom: 10px;
    width: 100%;
          
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

.copyright {
    font-size: 18px;
    font-weight: 100;
    color: var(--light-colour);
}

/*
a {
    color: var(--help-link-colour);
    text-decoration: none;
}

a:hover {
    color: var(--light-colour);
    text-decoration: none;
}
*/

.feedback-link {
    margin-right: 50px;
    padding: 10px;
    color: var(--light-colour);
    border: 1px solid var(--light-colour);
    border-radius: 5px;
    font-weight: bold;
    color: var(--help-link-colour); 
    text-decoration: none;
}

.feedback-link:hover {
     color: var(--light-colour);   
}

.social {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}






