

.Home-container{
    margin-top: 1%;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 73vh;
    display: flex;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-home-text{
    color: var(--link-colour);
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 33px;
}

.h2-home-text{
    color: var(--light-colour);
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 25px;
}

.h3-home-text{
    color: var(--light-colour);
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 25px;
}

.home-image{
    display: flex;
    width: 100%;
    height: 100%;
    filter: blur(6px);   
}

.centered {
    margin-top: 0.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.home-button{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 20px;
    background-color: var(--button-colour);
    color: var(--light-colour);
    border: 1px solid var(--light-colour);
    cursor:pointer;
}

.home-button:hover{
    color: black;
    text-decoration: none;
}
